.spinner {
  text-align: center;
}


/*  элемент спиннера - делаем круг из квадрата 40x40
  с помощью свойства border-radius, левая граница круга окрашена
  в другой цвет. далее запускаем бесконечную анимацию
*/
.spinner__animation {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-top: 6px solid #db3948;
  border-right: 6px solid #db3948;
  border-bottom: 6px solid #db3948;
  border-left: 6px solid white;
  animation: loading-spinner 0.6s infinite linear;
}

/* это текст для спиннера, например - "Загрузка..." */
.spinner__info {
  display: block;
  padding-top: 5px;
  color: rgb(129, 138, 145);
  font-size: .9rem;
}

/* сама анимация вращения */
@keyframes loading-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}